body
{
    margin: 0px;
    font-family: 宋体;
}
a{text-decoration:none;}
.globle_header
{	
	background-color: #AE9C7E;
	width: 100%;
	height: 50px;
	left:0px;
	padding: 0px;
	position: fixed;
	z-index: 11px;
	box-shadow:0 0 10px #999;
}
.width
{
	color: white;
	margin: 0px auto;
	width: 1000px;
}
.globle_meau a
{
	float: left;
	color: #fff;
	margin: 15px 10px 10px 0px;
}
.login_meau{float: right;margin: 15px 0px 0px 0px;}
.login_meau a{color: #fff;}
#content{
	padding-top: 60px;
	width: 1000px;
	margin: 0px auto;
}
.content_left,.content_right{
	float: left;
}
.content_left{
	width: 20%;
}
.content_right{
    width: 80%;
}
.teacher_left_img{
	width: 200px;
	height: 150px;
}
.div_teacher_left_img{
	width: 200px;
	background-color: gray;
	margin-top: -22px;
	color: #fff;
	text-align: center;
	display: none;
	position:absolute;
}
.content_right table{
    margin: 0px 75px 75px 75px;
    font-size: 15px;
}
.txt_information{
    border: 1px solid #e98702;
    background: none;
    height: 35px;
    width: 280px;
}
.tab_information tr td{
    height: 50px;
}
.btn_submit{
    width: 88px;
    height: 35px;
    background-color: #ae9c7e;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
